header{
  background-image: url(../images/pattern.jpeg);
  font-size: 55px;
  font-family: Helvetica;
  font-weight: bold;
  color: khaki;
  text-align: center;
  margin-bottom: 10px;
}
h1{
  margin: 0
}
h2{
  margin: 10px;
}
img{
  width: 230px;
  padding-left: 10%;
}
h4{
  font-size: 20px
}
p{
  font-size: 16px;
  font-family: Helvetica;
}
b{
  color: blue
}
.brush{
  font-size: 22px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
.frame{
  font-size: 22px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}
.paint{
  font-size: 22px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
/*main content layout*/
.flexbox{
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
